<!DOCTYPE html>
<html>

    <head>
        <title>Bike Rentals</title> 
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> 
    </head>


    <body>

        <div class="banner">
            <div class = "logo">
                <h1>Bike Rentals</h1>
            </div>
            <div class="Query-Form">
                <form action="{{ url_for("index")}}" method="post">
                    <label style="color:aliceblue">House ID: </label><br>
                    <input type = "text" name = "house_id" placeholder = "Bike ID" id = "house_id" ><br>
                    <label style="color:rgb(218, 222, 226)">owner_id: </label><br>
                    <input type = "text" name = "owner_id" placeholder = "customer ID" id = "owner_id" ><br>
                    <label style="color:aliceblue">Add House Details</label><br>
                    <input type = "text" name = "house_det" placeholder = "Bike Details" id = "house_det" ><br>
                    <label style="color:aliceblue">Delete House ID</label><br>
                    <input type = "text" name = "house_id_del" placeholder = "Bike ID" id = "house_id_del" ><br>
                    <button type="submit">Submit</button>
                </form>
            </div>


            <div class = tables>

                <table>
                    <tr>
                        {% for header in headings %}
                        <th> {{ header }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for row in data %}
                        <tr>

                            {% for cell in row %}

                            <td>{{ cell }}</td>

                            {% endfor %}

                        </tr>
                        {% endfor %}
                    </tr>
                </table>

            </div>
        </div>
    </body>

</html>